body {
  color: white;
  font-family: sans-serif;
}

.bg {
    background-color: #5e9fc7;
}

a {
  color: white;
}

li {
    list-style: none;
}

.wrapper {
  max-width: 500px;
  margin: auto;
  padding: 0 50px;
}

h2 {
  font-size: 5rem;
  font-family: "Limelight", cursive;
}

/*---------header---------*/
header {
    width: 100%;
    position: fixed;
}

.hamburger {
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 10px;
  z-index: 50;
  transition: 1s;

  span {
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
    display: block;
    background-color: whitesmoke;
    transition: 1s;
  }

  &.active span {
    &:nth-child(1) {
      transform: rotate(45deg);
      margin-top: 10px;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -24px;
    }
  }
}

nav {
  width: 100%;
  height: 100vh;
  background-color: orange;
  font-family: "Limelight", cursive;
  overflow: hidden;
  position: relative;
  display: none;

  &.active {
    display: block;
  }

  .looptext {
    display: flex;
    font-size: 1.5rem;

    &.bottom {
      position: absolute;
      bottom: 0;
    }

    .loop1 {
      animation: loop1 50s -25s linear infinite;
    }

    .loop2 {
      animation: loop2 50s linear infinite;
    }
  }

  h2 {
    text-align: center;
    padding-top: 100px;
  }

  ul {
    padding: 50px 100px;
  }

  li {
    font-size: 2rem;
    line-height: 2;
  }
}

@keyframes loop1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

/*---------mv---------*/
.mv {
  h1 {
    font-family: "Limelight", cursive;
    font-size: 4rem;
    text-align: center;
    padding-top: 140px;
  }

  .mv-img {
    width: 80%;
    height: 550px;
    margin-left: 10%;
    margin-top: -120px;
    border-radius: 200px 200px 0 0;
    background-image: url(/img/mv.png);
    background-size: cover;
    background-position: center;
  }

  
}

/*--------about---------*/
#about {
  padding-top: 100px;

  h2 {
    color: #367ba6;
  }

  p {
    margin-top: 20px;
  }
}

/*-------service--------*/
.white-bg-top {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  background-image: url(/img/white-bg-top.png);
  background-size: cover;
}

.white-bg-bottom {
  width: 100%;
  height: 150px;
  background-image: url(/img/white-bg-bottom.png);
  background-size: cover;
  background-position: bottom;
}

#service {
  background-color: white;
  color: #5e9fc7;

  h2 {
    text-align: center;
  }

  ul {
    margin-top: 50px;
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    overflow-x: scroll;

    li {
        line-height: 2;

        img {
            width: 120px;
        }
    }
  }

  ::-webkit-scrollbar {
    display: none;
}
}

/*------price-------*/
#price {
  padding-top: 100px;

  h2 {
    color: #367ba6;
  }

  p {
    margin-top: 20px;
  }

  li {
    list-style: none;
    margin-top: 80px;

    h3 {
        font-size: 1.8rem;
        font-weight: lighter;
    }

    p {
        margin: 0;
    }

    .price {
        border:  solid 1px white;
        padding: 20px;
        margin-top: 10px;
        font-size: 1.2rem;
    }
  }
}

/*--------contact----------*/
#contact {
    padding-top: 150px;

    h2 {
        font-size: 3.5rem;
        text-align: center;
    }

    p {
        margin-top: 20px;
    }

    .icons {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 20px;

        img {
            width: 50px;
        }
    }

    .mail {
        margin-top: 20px;
        text-align: center;
        font-size: 0.8rem;
    }

    .blue-bg {
        width: 90%;
        margin-left: 5%;
        height: 400px;
        background-color: #367ba6;
        border-radius: 200px 200px 0 0;
        margin-top: -300px;
    }
}


@media screen and (min-width: 500px) {
    body {
        background-color: #367ba6;
    }

    .bg {
        width: 500px;
        margin: auto;
    }
}